.gruppespil-div {
    width: 100%;
    padding: 50px 15%;
    min-height: 250px;
    background-color: var(--surface);
}

.dyster-container {
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
    height: 250px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: -220px;
    z-index: 9;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.td-btns {
  display: flex;
  gap: 10px;
}

.dyst-table-row {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
    width: 300px;
    display: flex;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 30px 0px;
    align-items: center;
    flex-direction: column;
}

.dyst-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.dyst-info-element {
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.dyst-info-h1 {
    font-family: Inter;
    font-weight: 600;
    color: var(--softBlack);
    font-size: 20px;
}

.dyst-info-h2 {
    font-family: Inter;
    font-weight: 600;
    opacity: 0.7;
    color: var(--softBlack);
    font-size: 11px;
}

.gruppetable-navn2-el {
    width: 350px;
    font-weight: 500 !important;
    color: var(--black) !important;
    opacity: 0.8 !important;
}

.gruppetable-number2-el {
    width: 160px;
    font-weight: 400 !important;
    color: var(--black) !important;
    opacity: 0.8 !important;
}

.gruppespil-table ul {
    width: 100%;
    white-space: nowrap;
}

.gruppetable-number2-el2 {
    width: 160px;
    font-weight: 400 !important;
    color: var(--black) !important;
    opacity: 0.8 !important;
    text-transform: capitalize;
}

.dyst-span {
    padding: 5px 8px;
    background-color: var(--primary);
    border-radius: 4px;
    color: #fff;
    margin-left: 15px;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
}

.gruppespil-table-row {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
}

.gruppespil-p {
  font-size: 13px;
  color: var(--black);
  opacity: 0.7;
  font-family: Inter;
  font-weight: 400;
  padding-top: 5px;
  max-width: 450px;
  width: 100%;
}

.gruppeinvite-p {
  font-size: 13px;
  color: var(--black);
  opacity: 0.7;
  font-family: Inter;
  font-weight: 400;
  margin-top: 5px;
}

.gruppeinvite-h1 {
  font-size: 25px;
  color: var(--black);
  font-family: Inter;
  font-weight: 500;
}

.gruppeinvite {
  margin-top: 15px;
}

.gruppeinvite-info {
  background-color: var(--stageSurface);
  width: 170px;
  text-align: center;
  opacity: 0.85;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 20px 0px;
}

.gruppeinvite-btn {
  padding: 10px 25px;
  background-color: var(--primary);
  color: #fff;
  font-size: 13px;
  font-family: Inter;
  font-weight: 500;
  border-radius: 3px;
  margin-top: 15px;
  border: 0px;
  cursor: pointer;
}

.gruppeinvite-btn:hover {
  background-color: var(--primaryAccent) !important;
}

.gruppesession-btn {
  padding: 4px 13px;
  background-color: transparent;
  border: 1px var(--primary) solid;
  color: var(--primary);
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  border-radius: 3px;
  vertical-align: top;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 10px;
  opacity: 0.7;
}

.gruppespil-row-active {
    background-color: var(--blueStageSurface) !important;
}

.gruppespil-row-active:hover {
    background-color: var(--blueStageSurface) !important;
}

.gruppespil-table-row:hover {
    background-color: var(--surface);
}

.gruppetable-kapital2-el {
    width: 142px;
    font-weight: 400 !important;
    color: var(--black) !important;
    opacity: 0.8 !important;
}

.gruppetable-navn2 {
    width: 350px;
}

.gruppetable-number2 {
    width: 160px;
}

.gruppetable-number22 {
    width: 160px;
}

.gruppetable-kapital2 {
    width: 160px;
}

.gruppespiltable-icon {
    width: 15px;
    height: 15px;
    margin-top: 3.5px;
    margin-right: 3px;
    fill: var(--black) !important;
    opacity: 0.8 !important;
}

.gruppespil-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    padding-left: 47px;
    background-color: transparent;
    border: 0px;
    position: relative;
    color: #444762;
    font-size: 12px;
}

.gruppespil-input-div {
    width: 300px;
    height: clamp(35px, 6.5vw, 40px);
    background-color: #DCE2EA;
    border-radius: 3px;
    position: relative;
}

.gruppespil-input-div input {
    height: 100% !important;
}

.gruppespil-search-icon {
    position: absolute;
    left: 15px;
    top: 0px;
    margin-top: clamp(9px, 2.6vw, 11.5px);
    fill: var(--softBlack);
    width: 17px;
    height: 17px;
}

.dyst-icon {
    width: 60px;
    height: 60px;
    fill: var(--primary);
    z-index: 2;
    position: relative;
    display: block;
    opacity: 0.7;
}

.dyst-p {
    font-family: Inter;
    font-weight: 600;
    opacity: 0.9;
    color: var(--black);
    font-size: 20px;
    padding-top: 15px;
}

.dyst-figure {
    background-color: var(--blueStageSurface);
    width: 60px;
    height: 60px;
    position: absolute;
    right: -10px;
    opacity: 0.6;
    bottom: -10px;
    border-radius: 50%;
}

.dyst-wrapper {
    margin-top: 15px;
}

.dyst-element {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.dyst-win-h1 {
    font-family: Inter;
    font-weight: 600;
    color: var(--primary);
    opacity: 0.8;
    font-size: 22px;
}

.dyst-win-p {
    font-family: Inter;
    font-weight: 400;
    opacity: 0.8;
    padding-top: 2px;
    color: var(--softBlack);
    font-size: 18px;
}

.aktivespil-container {
    min-height: 600px;
    width: 100%;
    padding: 185px 5%;
    background-color: var(--stageSurface);
  }
  
  .aktivespil-section {
    background-color: #fff;
    padding: 30px 50px;
    border-top: 4px var(--primary) solid;
    width: 900px;
  }
  
  .spil-element-top {
    background-color: var(--primary);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: Inter;
    text-align: center;
    width: 100%;
    padding: 3px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .modal-touch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .as-element {
    padding: 13px 20px;
    background-color: var(--stageSurface);
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .as-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .as-active {
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
  }
  
  .as-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    padding-left: 15px;
    width: 17vw;
    color: var(--softBlack);
  }
  
  .as-p {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    color: var(--softBlack);
  }
  
  .as-a {
    font-family: CircularLight;
    font-weight: 100;
    font-size: 15px;
    color: var(--primary);
    cursor: pointer;
    opacity: 0.8;
  }
  
  .as-a:hover {
    text-decoration: underline;
  }
  
  .aktivespil-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 35px;
    color: var(--black);
  }
  
  .spil-container ul li {
    display: inline-block;
    vertical-align: top;
  }
  
  .main-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
  }
  
  .modal-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 35px;
    min-width: 300px;
    max-width: 550px;
  }
  
  .main-modal-h1 {
    font-size: 20px;
    font-family: Inter;
    color: var(--softBlack);
    font-weight: 600;
  }
  
  .main-modal-h2 {
    font-size: 16px;
    padding-top: 5px;
    font-family: Inter;
    color: var(--softBlack);
    font-weight: 400;
  }
  
  .modal-p {
    font-size: 14px;
    font-family: CircularLight;
    color: var(--primary);
    font-weight: 100;
    opacity: 0.8;
  }
  
  .modal-p:hover {
    text-decoration: unerline;
    opacity: 1;
  }
  
  .modal-btn {
    background-color: var(--primary);
    padding: 10px 15px;
    border: 1px var(--primary) solid;
    color: #fff;
    font-size: 15px;
    font-family: CircularLight;
    font-weight: 100;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
  }
  
  .modal-btn:hover {
    transform: scale(1.02);
    background-color: var(--primaryAccent) !important;
    border: 1px var(--primaryAccent) solid !important;
  }
  
  .modal-btn-outline {
    background-color: transparent;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--softBlack);
    font-size: 15px;
    cursor: pointer;
    font-family: CircularLight;
    font-weight: 100;
    border: 1px var(--softBlack) solid;
    border-radius: 3px;
    transition: 0.2s;
  }
  
  .modal-btn-outline:hover {
    transform: scale(1.02);
    background-color: rgba(37, 53, 80, 0.05) !important;
  }
  
  .aktivespil-divider {
    width: 700px;
    height: 2px;
    background-color: var(--black);
    opacity: 0.1;
    border-radius: 2px;
    margin-left: -5px;
  }
  
  .aktivespil-nav {
    padding: 15px 0px;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .aktivespil-element-active {
    padding: 10px 5px;
    background-color: transparent;
    margin-right: 50px;
    border-radius: 1px;
    border: 0px;
    cursor: pointer;
    color: var(--black);
    border-bottom: var(--primary) solid 3px;
  }
  
  .aktivespil-element {
    padding: 10px 5px;
    background-color: transparent;
    margin-right: 50px;
    border-radius: 1px;
    border: 0px;
    cursor: pointer;
    opacity: 0.8;
    color: var(--black);
    border-bottom: transparent solid 3px;
  }
  
  .aktivespil-element:hover {
    opacity: 1;
  }
  
  .oddsspil-element-active {
    padding: 10px 5px;
    background-color: transparent;
    margin-right: 15px;
    border-radius: 1px;
    border: 0px;
    font-weight: 600 !important;
    cursor: pointer;
    color: var(--black);
    border-bottom: var(--primary) solid 3px;
  }
  
  .oddsspil-element {
    padding: 10px 5px;
    background-color: transparent;
    margin-right: 15px;
    border-radius: 1px;
    border: 0px;
    cursor: pointer;
    opacity: 0.8;
    color: var(--black);
    font-family: Inter;
    font-weight: 500;
    border-bottom: transparent solid 3px;
  }
  
  .oddsspil-element:hover {
    opacity: 1;
  }
  
  .spil-container {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .spil-element-active {
    width: 300px;
    background-color: var(--stageSurface);
    border-radius: 7px;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
    border-top: 8px var(--primary) solid;
  }
  
  .spil-element-con {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  
  .spil-element-con a {
    text-decoration: none;
  }
  
  .spil-element {
    width: clamp(150px, 60vw, 300px);
    background-color: var(--surface);
    border-radius: 4px;
    padding-top: 10px !important;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);
    opacity: 0.9;
    position: relative;
  }
  
  .spil-element:hover {
    opacity: 1;
  }
  
  .spil-h1 {
    color: var(--blackAccent);
    font-family: CircularMedium;
    font-weight: 100;
    opacity: 0.9;
    font-size: 18px;
  }
  
  .spil-h2 {
    color: var(--softBlack);
    font-family: CircularLight;
    font-weight: 100;
    opacity: 0.7;
    font-size: 12px;
  }
  
  .spil-element-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input-under-p {
    color: var(--softBlack);
    opacity: 0.5;
    font-size: 10px;
    font-family: CircularLight;
    font-weight: 100;
  }
  
  .input-under-p2 {
    color: var(--softBlack);
    opacity: 0.5;
    font-size: 12px;
    font-family: CircularLight;
    font-weight: 100;
  }
  
  .input-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-bottom2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spil-input {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .input-range-con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    margin: 0px 10px;
  }
  
  .spil-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: -150px 0 0 150px var(--primary);
  }
  
  .spil-divider {
    width: 100%;
    background-color: var(--grey);
    margin-bottom: 5px;
    height: 1px;
    opacity: 0.3;
  }

  .gruppespil-container {
    min-height: 600px;
    width: 100%;
    padding: 135px 5%;
    background-color: var(--stageSurface);
}

.gruppespil-container-2 {
    min-height: 600px;
    width: 100%;
    padding: 135px 5%;
    background-color: var(--stageSurface);
}

.gruppespil-section {
    background-color: #fff;
    padding: 30px 50px;
    border-top: 4px var(--primary) solid;
    margin: 0px auto;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.gruppespil-opret-own {
    font-size: 13px;
    cursor: pointer;
    color: var(--primary);
    font-family: Inter;
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: 20px;
}

.gruppespil-opret-own:hover {
    text-decoration: underline;
}

.chat-error {
    font-family: Inter;
    color: var(--red);
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 28px;
}

.top-container {
  display: flex;
  padding: 20px 100px;
  align-items: flex-end;
  justify-content: space-between;
}

.top-container-mobile {
  display: none;
  padding: 15px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.set-wrapper {
  width: 50%;
}


.top-element-big .top-h1 {
  font-size: 28px !important;
}

.top-element-big .top-h2 {
  font-size: 13px !important;
}

.top-element-big .top-img {
  width: 70px !important;
  height: 70px !important;
}

.top-element-big {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.top-element {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.top-img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px var(--primary) dashed;
}

.top-h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  font-family: Inter;
}

.top-h2 {
  font-size: 12px;
  font-weight: 300;
  color: #333;
  opacity: 0.7;
  font-family: Inter;
}

.invite-p {
  color: var(--black);
  opacity: 0.7;
  font-family: Inter;
  font-size: 15px;
  padding: 17px 15px;
  display: inline-block;
  vertical-align: top;
}

.invite-copied {
    position: absolute;
    left: calc(50% - 30px);
    padding: 5px 10px;
    background-color: var(--softBlack);
    border-radius: 3px;
    color: #fff;
    font-family: Inter;
    font-weight: 300;
    top: -30px;
    font-size: 13px;
}

.chat-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.chat-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.chat-top-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.chat-container {
    padding: 10px 0px;
    width: clamp(250px, 70vw, 350px);
}

.chat-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-send {
    width: 25px;
    padding: 5px;
    margin-left: -35px;
    fill: var(--softBlack);
    transition: 0.2s;
    cursor: pointer;
}

.chat-send:hover {
    fill: var(--primary);
}

.chat-int {
    width: 25px;
    padding: 5px;
    fill: var(--softBlack);
    margin-right: 20px;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}

.chat-int:hover {
    background-color: var(--stageSurface);
}

.chat-pic {
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
}

.chat-dato {
    font-family: Inter;
    font-weight: 300;
    opacity: 0.7;
    font-size: 12px;
    color: var(--softBlack);
}

.chat-name {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    color: var(--softBlack);
}

.chat-name-active {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    color: var(--primary);
}

.chat-field {
    background-color: var(--stageSurface);
    border: 0px;
    border-radius: 3px;
    height: 37px;
    width: 85%;
    margin-left: 28px;
    padding: 0px 15px;
    color: var(--softBlack);
    font-weight: 400;
    font-family: Inter;
    font-size: 13px;
}

.chat-p {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.7;
    color: var(--softBlack);
    padding-left: 28px;
}

.potentiel-tabt {
    color: var(--red) !important;
    font-weight: 500 !important;
}

.potentiel-vundet {
    color: var(--green) !important;
    font-weight: 500 !important;
}

.invite-icon {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    fill: var(--black);
  opacity: 0.7;
  display: inline-block;
  vertical-align: top;
}

.gruppespil-invite {
    cursor: pointer;
    width: 500px !important;
    position: relative;
}

.gruppespil-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    color: var(--black);
    vertical-align: top;  
}

.gs-h2 {
  font-family: Inter;
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
  color: #333;
  vertical-align: top;  
}

  .gruppespil-btn {
      padding: 4px 11px;
      background-color: var(--primary);
      border: 1px var(--primaryAccent);
      color: #fff;
      font-size: 12px;
      font-family: Inter;
      font-weight: 400;
      border-radius: 3px;
      vertical-align: top;
      cursor: pointer;
      margin-top: 7px;
      margin-left: 10px;
  }

  .gruppespil-btn:hover {
      background-color: var(--primaryAccent) !important;
  }

  .gruppespil2-btn {
    padding: 4px 11px;
    background-color: var(--primary);
    border: 1px var(--primaryAccent);
    color: #fff;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 10px;
}

.gruppespil2-btn:hover {
    background-color: var(--primaryAccent) !important;
}

.gruppespil3-btn {
    padding: 4px 11px;
    background-color: var(--primary);
    border: 1px var(--primaryAccent);
    color: #fff;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 10px;
}

.gruppespil3-btn:hover {
    background-color: var(--primaryAccent) !important;
}

  .gruppespil-info-info {
      margin-top: 15px;
  }

  .gruppespil-info-element {
    display: inline-block;
    margin-right: 50px;
}

  .gruppespil-info-element-p {
      font-family: Inter;
      font-weight: 400;
      font-size: 13px;
      color: var(--black);
      opacity: 0.7;
  }

  .gruppespil-info-element-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    max-width: 200px;
    overflow: hidden;
    color: var(--black);
}

.noti-kupon {
    display: inline-block;
    margin-bottom: 15px;
    background-color: #fff;
    border-top: 4px var(--primary) solid;
    border-radius: 2px;
    width: 20vw;
    min-width: 280px;
    min-height: 150px;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.gruppespil-info {
    margin-bottom: 50px;
}

.gruppespil-info-choose {
    padding: 15px 20px;
    background-color: var(--stageSurface);
    border-radius: 2px;
    margin-bottom: 15px;
    cursor: pointer;
}

.gruppespil-kuponer {
    padding: 20px 0px;
}

.noti-kupon ul {
    width: 100%;
}

.noti-kupon ul li {
    width: 100%;
}

.gruppespil-kupon ul {
    width: 100%;
}

.gruppespil-kupon ul li {
    width: 100%;
}

.gruppespil-kupon-1 ul {
    width: 100%;
}

.gruppetable-loss {
    color: var(--red) !important;
}

.gruppetable-win {
    color: var(--green) !important;
}

.gruppetable-span {
    color: var(--softBlack) !important;
    opacity: 0.6;
    font-size: 10px;
    margin-left: 5px;
}

.gruppetable-icon-win {
    width: 15px;
    height: 15px;
    fill: var(--green);
    margin-bottom: -2px;
    margin-right: 2px;
}

.gruppetable-icon-loss {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    fill: var(--red);
    margin-right: 2px;
}

.gruppespil-kupon-1 ul li {
    width: 100%;
}

.gruppespil-kupon-2 ul {
    width: 100%;
}

.gruppespil-kupon-2 ul li {
    width: 100%;
}

.gruppespil-kupon {
    display: inline-block;
    margin-bottom: 15px;
    background-color: #fff;
    border-top: 4px var(--primary) solid;
    border-radius: 2px;
    width: 25vw;
    min-width: 280px;
    min-height: 150px;
    max-width: 380px;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

#gruppespil-kuponer {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.gruppespil-scroll {
    font-size: 14px;
    color: var(--softBlack);
    opacity: 0.7;
    padding-bottom: 5px;
    font-weight: 400;
    font-family: Inter;
}

.gs-h4 {
  font-size: 14px;
    color: var(--softBlack);
    opacity: 0.7;
    padding-bottom: 5px;
    font-weight: 300;
    font-family: Inter;
}

.gruppespil-li {
    display: inline-block;
    vertical-align: top;
    width: inherit;
}

.gruppespil-kupon-1 {
    display: inline-block;
    margin-bottom: 15px;
    background-color: #fff;
    border-top: 4px var(--primary) solid;
    border-radius: 2px;
    width: 25vw;
    min-width: 280px;
    min-height: 150px;
    max-width: 380px;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.gruppespil-kupon-2 {
    display: inline-block;
    margin-bottom: 15px;
    background-color: #fff;
    border-top: 4px var(--primary) solid;
    border-radius: 2px;
    width: 25vw;
    min-width: 280px;
    min-height: 150px;
    max-width: 380px;
    vertical-align: top;
    position: relative;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.gruppespil-table {
    margin-top: 10px;
}

.gruppespil-table-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    color: var(--black);
    opacity: 0.6;
    vertical-align: top;
    display: inline-block;
}

.gruppespil-table-404 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    opacity: 0.5;
    vertical-align: top;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
}

.gruppespil-stage-404 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    opacity: 0.6;
    vertical-align: top;
    text-align: center;
    padding: 10px 0px;
    display: inline-block;
}

.gruppespil-table-p {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    color: var(--black);
    vertical-align: top;
    display: inline-block;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gruppespil-table-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}

.gruppespil-table-place-div {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gruppespil-table-place {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: transparent;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}

.gruppespil-table-place-active {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary);
  border-radius: 50%;
  width: 27px;
  height: 27px;
}

.gruppespil-table-top {
    border-bottom: #87889747 1px solid;
    padding: 5px 0px;
    display: flex;
}

.rw-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px !important;
  gap: 3px;
  background: -webkit-linear-gradient(-60deg, #21D4FD -10%, #B721FF 150%);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 95%;
  margin: auto;
}

.rw-tip {
  background-color: rgba(255,255,255,0.65);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  border: 1px rgba(255,255,255,0.25) solid;
  border-top: 0px !important;
  padding: 3px 20px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rw-content {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rw-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px;
  gap: 8px;
  opacity: 0.9;
}

.rw-element {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.rw-wrapper-p {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  font-family: Inter;
}

.rw-wrapper-h1 {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  font-family: Inter;
}

.rw-p {
  font-size: 12px;
  font-weight: 700;
  color: var(--primary);
  font-family: Inter;
}

.gr-table {
  width: 100%;
  padding-top: 10px;
}

.gr-table-modifier {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  border-bottom: 1px solid var(--stageSurface);
}

.gr-table-element {
  border-bottom: 1px solid var(--stageSurface);
  padding: 10px 0px;
}

.gr-table-element-active {
  background-color: var(--blueStageSurface) !important;
}

.gr-table-h1 {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
  color: var(--softBlack);
  font-family: Inter;
}

.gr-table-h2 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  font-family: Inter;
}

.gr-table-p {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  font-family: Inter;
}

.gr-table-content {
  display: flex;
  align-items: center;
}

#gr-navn {
  width: 170px;
}

#gr-kapital {
  min-width: 110px;
  display: flex;
  align-items: center;
}

.gr-table-green {
  color: var(--green) !important;
}

.gr-table-red {
  color: var(--red) !important;
}

#gr-pos {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dy-content {
  z-index: 3;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px 130px;
  align-items: center;
  justify-content: center;
}

.dy-container {
  min-height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dyst-section {
  background-color: #fff;
  padding: 50px 20%;
  margin: 0px auto;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.dy-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  left: 0;
  right: 0;
  padding-bottom: 7px;
  justify-content: center;
}

.dy-nav-p {
  font-family: Inter;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.dy-nav-p-active {
  font-family: Inter;
  color: var(--softBlack);
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.dy-h2 {
  font-family: Inter;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}

.dy-h1 {
  font-family: Inter;
  color: #fff;
  font-size: 58px;
  font-weight: 700;
}

.dy-h3 {
  font-family: Inter;
  color: #fff;
  opacity: 0.9;
  font-size: 15px;
  font-weight: 400;
}

.dy-h2-con {
  display: flex;
  gap: 5px;
  align-items: center;
}

.dy-img {
  width: 140px;
  height: 140px;
  position: relative;
}

.dy-top {
  width: 100%;
  background-color: var(--primary);
  height: 250px;
  position: relative;
  z-index: 3;
  margin-top: 65px;
  border-radius: 5px;
  overflow: hidden;
}

.gruppespil-table-row {
  padding: 5px 0px;
  border-bottom: #87889747 1px solid;
}

.gruppetable-navn {
    margin-left: 50px;
    width: 300px;
}

.gruppetable-el-navn {
    width: 300px;
}

.gruppetable-number {
    width: 160px;
}

.gruppetable-kapital {
    width: 200px;
}

.gruppetable-place {
    padding-right: 10px;
}

.gruppespil-table-medlemsskab-silver {
    border-radius: 50%;
    width: 10px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--silver);
    height: 10px;
}

.gruppespil-table-medlemsskab-primary {
    border-radius: 50%;
    width: 10px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--primary);
    height: 10px;
}

.gruppespil-table-medlemsskab-gold {
    border-radius: 50%;
    width: 10px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--gold);
    height: 10px;
}

.gruppespil-table-medlemsskab-special {
    border-radius: 50%;
    width: 10px;
    vertical-align: top;
    margin-right: 10px;
    display: inline-block;
    background-color: var(--red);
    height: 10px;
}
  
  .spil-p-right {
    display: inline-block;
    color: #fff;
    opacity: 0.6;
    float: right;
    font-size: 13px;
  }
  
  .spil-avatar {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    background-color: var(--primary);
    border-radius: 50%;
  }

  .td-container {
    background-color: var(--surface);
    padding: 0px 18%;
    padding-bottom: 150px !important;
  }

  .td-input-icon {
    width: 16px;
    height: 16px;
    fill: var(--softBlack);
    position: absolute;
    left: 12px;
  }

  .td-box {
    background-color: #fff;
    border-radius: 9px;
    padding: 30px;
    z-index: 3;
    position: relative;
    margin-bottom: 10px;
    display: block;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.02);
  }

  .find-h1 {
    font-size: 18px;
    color: rgb(26, 39, 72);
    font-family: Inter;
    font-weight: 500;
  }

  .td-divider {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    background-color: #fff;
  }

  .td-line {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
  }

  .td-spacer {
    height: 10px;
    width: 100%;
  }

  .td-or {
    font-size: 12px;
    padding: 0px 10px;
    color: var(--softBlack);
    opacity: 0.5;
    font-family: Inter;
    font-weight: 500;
  }

  .find-p {
    font-size: 13px;
    color: rgb(26, 39, 72);
    font-family: Inter;
    font-weight: 300;
    padding-top: 5px;
  }

  .find-btn {
    background: -webkit-linear-gradient(-60deg, #21D4FD -10%, #B721FF 150%);
    color: #fff;
    font-size: 13px;
    font-family: Inter;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 3px;
    border: 0px;
    margin-top: 10px;
  }

  .td-input {
    border-radius: 7px;
    position: relative;
    border: 1px #ebebeb solid;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .td-input-field {
    color: var(--softBlack);
    font-size: 12px;
    font-weight: 400;
    padding: 10px 12px;
    border-radius: 7px;
    font-family: Inter;
    background-color: transparent;
    width: 100%;
    border: 0px;
    padding-left: 38px;
    height: 100%
  }

  .td-h1 {
    font-family: Inter;
    font-weight: 600;
    color: var(--softBlack);
    font-size: 22px;
    padding-left: 5px;
    display: inline-flex;
  }

  .td-modifier {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--stageSurface);
    border-radius: 5px;
  }

  .td-type {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
  }

  .td-type-con {
    background-color: #fff;
    border-radius: 6px;
    font-family: Inter;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(60, 66, 87,.6);
    padding: 7px 13px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
    z-index: 6;
    transform: scale(1);
    opacity: 0;
    display: block;
  }

  .td-type-drop {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 35px;
    min-width: 150px;
    display: block;
    border-radius: 6px;
    cursor: pointer;
    padding: 7px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  }

  .td-type-drop-p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px;
    color: var(--black);
    cursor: pointer;
    transition: 0.2s;
  }

  .td-type-drop-p:hover {
    background-color: var(--surface);
  }

  .td-type-drop-divider {
    width: 100%;
    height: 1px;
    background-color: var(--stageSurface);
  }

  .td-type-p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
    padding-right: 3px;
    text-transform: capitalize;
  }

  .modifier-mod {
    font-weight: 500 !important;
    font-size: 11px !important;
  }

  .td-modifier-p {
    color: var(--softBlack);
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    opacity: 0.9;
    text-transform: capitalize;
  }

  .td-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  .td-top-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }

  .td-radio {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .td-radio-element-active {
    border-radius: 50%;
    padding: 6px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    cursor: pointer;
    transition: 0.2s;
    max-width: 30px;
    background-color: var(--stageSurface);
  }

  .td-radio-element {
    border-radius: 50%;
    padding: 7px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    transition: 0.2s;
    cursor: pointer;
  }

  .td-radio-element:hover {
    background-color: var(--surface);
  }

  #td-navn {
    width: 300px !important;
  }

  #td-synlighed {
    width: 200px;
  }

  #td-spillere {
    width: 200px;
  }

  #td-admin {
    width: 250px;
  }

  .td-btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-top: 18px;
    font-family: Inter;
    cursor: pointer;
    transition: 0.2s;
    background: -webkit-linear-gradient(-60deg, #21D4FD -50%, #B721FF 200%);
  }

  .tl-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tl-players {
    display: flex;
    align-items: center;
    gap: 0px;
  }

  .td-player-img {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    border: 2px #fff solid;
    overflow: hidden;
    margin-right: -10px;
    position: relative;
  }

  .tl-element {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: var(--surface) 1px solid;
  }

  .tl-element:hover {
    background-color: var(--surface);
  }

  .tl-img {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-color: var(--primary);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 11px;
  }

  .ant-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .ant-element {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .ant-info {
    display: flex;
    flex-direction: column;
  }

  .ant-h2 {
    font-family: Inter;
    font-weight: 500;
    color: var(--softBlack);
    opacity: 0.85;
    font-size: 12px;
  }

  .ant-h1 {
    font-family: Inter;
    font-weight: 600;
    color: #333;
    font-size: 24px;
    padding-right: 8px;
  }

  .ant-small {
    font-family: Inter;
    font-weight: 700;
    opacity: 0.6;
    font-size: 9px;
    margin-top: 3px;
  }

  .ant-p {
    font-family: Inter;
    font-weight: 300;
    color: var(--softBlack);
    opacity: 0.85;
    font-size: 10px;
    padding-top: 5px;
  }

  .ant-p-a {
    font-weight: 500;
    color: #333 !important;
  }

  .ant-visual {
    display: flex;
    gap: 8px;
    height: 70px;
  }

  .ant-visual-element {
    height: 100%;
    width: 7.5px;
    display: flex;
    align-items: flex-end;
    border-radius: 100px;
    background-color: var(--stageSurface);
  }

  .ant-visual-bar {
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(-60deg, #21D4FD -10%, #B721FF 150%);
  }

  .ant-visual-bar-red {
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(-60deg, #aa21ff -10%, #d52252 150%);
  }

  #visual-1 {
    height: 20%;
  }

  #visual-2 {
    height: 35%;
  }

  #visual-3 {
    height: 50%;
  }

  #visual-4 {
    height: 80%;
  }

  #visual-5 {
    height: 100%;
  }

  .ant-info-price {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .gs-container {
    padding: 20px 160px;
    background-color: var(--surface);
    padding-bottom: 150px !important;
  }

  .gs-container .back-btn {
    margin-left: 0px !important;
  }

  #gs-pos {
    width: 50px;
  }
  #gs-navn {
    width: 350px;
  }
  #gs-kuponer {
    width: 150px;
  }
  #gs-kapital {
    width: 250px;
  }
  #gs-aktive {
    width: 200px;
  }

  .gs-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 26px;
    color: #333;
  }

  .gs-main-h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 38px;
    color: #333;
  }

  .gs-h3 {
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
    text-transform: capitalize;
    color: #333;
    opacity: 0.7;
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .gs-h3 p:first-child {
    white-space: nowrap;
  }

  .gs-h3-divider {
    width: 3.5px;
    min-width: 3.5px;
    height: 3.5px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #333;
  }