.plan-img {
    width: 370px;
    margin-top: -20px;
    margin-left: 20px;
}

.plans-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.st-plans-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.plan-spar {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: var(--third);
  color: var(--primary);
  font-family: Inter;
  padding: 5px 10px;
  border-radius: 500px;
  font-weight: 600;
  font-size: 11px;
}

.st-plan-spar {
  position: absolute;
  top: -3px;
  right: -15px;
  background-color: var(--third);
  color: var(--primary);
  font-family: Inter;
  padding: 5px 10px;
  border-radius: 500px;
  font-weight: 600;
  font-size: 11px;
}

.main-trans {
    padding-top: 50px;
    text-align: center;
  }

  .td-input-max {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: 3px #fff solid;
    border-radius: 500px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .td-input-element-active {
    border-radius: 500px;
    background-color: var(--primary);
    color: #fff;
    padding: 6px 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
  }

  .td-input-element {
    border-radius: 500px;
    color: var(--black);
    padding: 6px 10px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    transition: 0.2s;
    font-size: 13px;
  }

  .td-input-element:hover {
    background-color: var(--surface);
  }

  .price-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    gap: 5px;
    border: 3px #fff solid;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    border-radius: 500px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .price-input-element-active {
    border-radius: 500px;
    background-color: var(--primary);
    color: #fff;
    padding: 7px 13px;
    font-family: Inter;
    font-weight: 500;
    font-size: 13.5px;
    cursor: pointer;
    transition: 0.2s;
  }

  .price-input-element {
    border-radius: 500px;
    color: var(--black);
    padding: 7px 13px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    transition: 0.2s;
    font-size: 13.5px;
  }

  .price-input-element:hover {
    background-color: var(--surface);
  }

.priser-h3 {
    color: var(--primary);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: Inter;
}

.priser-h1 {
  color: #333;
  font-size: 40px;
  display: inline-flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 600;
}

.priser-h2 {
  color: var(--softBlack);
  font-size: 17px;
  font-weight: 300;
  margin: 0px auto;
  padding: 10px 20px;
  padding-bottom: 20px;
  max-width: 500px;
  text-align: center;
  font-family: Inter;
}