.main-whereami {
    text-align: center;
    padding-top: 40px;
  }
  
  .main-whereami-h1 {
    font-size: 54px;
    color: var(--black);
    font-family: CircularBold;
  }
  
  .main-whereami-divider {
    width: 150px;
    height: 2px;
    background-color: var(--primary);
    margin: 15px auto;
    opacity: 0.8;
  }
  
  .signup-form-element {
    height: 45px;
    margin-bottom: 25px;
  }
  
  .signup-form {
    margin-top: 30px;
  }
  
  .signup-section {
    margin: auto;
  }
  
  .login-req {
    display: none;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 15px;
    border-radius: 5px;
    padding: 15px 20px;
    position: absolute;
    min-width: 300px;
    top: -15px;
    left: calc(100% + 15px);
    opacity: 0;
    animation: 200ms ease 0s 1 normal none running fadeLeft;
    animation-fill-mode: forwards;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
  }
  
  .login-req-element {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    transition: 0.1s;
    align-items: center;
    opacity: 0.5;
  }
  
  .login-req-element-active {
    display: flex;
    flex-direction: row;
    transition: 0.1s;
    justify-content: left;
    gap: 10px;
    align-items: center;
    opacity: 1;
  }
  
  .login-req-element-active .login-req-p {
    color: var(--primary) !important;
  }
  
  .login-req-element-active .login-req-check {
    fill: var(--primary) !important;
  }
  
  .login-req-p {
    font-size: 15px;
    transition: 0.1s;
    color: var(--softBlack);
    font-family: Inter;
    font-weight: 400;
  }
  
  .signup-check {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
  }
  
  .signup-checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #ebebeb;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tak-p {
    font-size: 14px;
    transition: 0.1s;
    color: var(--softBlack);
    opacity: 0.6;
    font-family: Inter;
    font-weight: 300;
    padding-bottom: 10px;
  }
  
  .login-check-p {
    font-size: 13px;
    transition: 0.1s;
    margin-right: 3px;
    color: var(--softBlack);
    opacity: 0.7;
    font-family: Inter;
    font-weight: 300;
  }
  
  .signup-checked {
    background-color: var(--primary) !important;
  }
  
  .login-form-dotted {
    font-size: 13px;
    transition: 0.1s;
    margin-right: 3px;
    opacity: 0.7;
    color: var(--softBlack);
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline dotted;
    cursor: pointer;
  }
  
  .login-form-dotted:hover {
    opacity: 1;
  }
  
  .login-req-check {
    fill: var(--softBlack);
    transition: 0.1s;
    height: 19px;
    width: 19px;
  }
  
  .signup-h1 {
    font-size: 18px;
    color: var(--black);
    font-family: CircularBook;
    opacity: 0.9;
    font-weight: 100;
  }
  
  .signup-container {
    padding-bottom: 70px;
    margin-top: 100px;
  }
  
  .signup-wave {
    width: 100%;
    fill: var(--primary);
    position: absolute;
    left: 0;
    top: 200px;
  }
  
  .signup-wave-top {
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
  }
  
  .signup-form-p {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 16px;
    color: var(--black);
    display: inline-block;
  }
  
  .signup-form-text-fix {
    width: 250px;
    display: inline-block;
  }
  
  .signup-form-p-p {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 13px;
    opacity: 0.7;
    color: var(--black);
    display: inline-block;
  }
  
  .signup-input {
    background-color: #e6e7e9;
    border: 0px;
    border-bottom: 1px solid var(--black) !important;
    border-radius: 1px;
    height: 45px;
    width: 400px;
    float: right;
    padding: 0px 15px;
    color: var(--black);
    opacity: 0.8;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 15px;
    vertical-align: top;
  }
  
  .form-btn {
    text-align: center;
    width: 100%;
    margin: 10px 0px;
  }
  
  .form-error {
    font-family: Inter;
    font-weight: 400;
    color: var(--red);
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .signup-input-small {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid var(--black) !important;
    border-radius: 1px;
    height: 45px;
    width: 120px;
    margin-right: 20px;
    padding: 0px 15px;
    color: var(--black);
    opacity: 0.8;
    font-weight: 400;
    font-family: Open Sans;
    font-size: 15px;
    vertical-align: top;
  }
  
  .signup-input:focus {
    outline: 2px var(--primary) solid;
    border-bottom: 1px transparent solid !important;
  }
  
  .login-container {
    z-index: 12;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
  }
  
  .login-popup {
    max-width: 550px;
    width: 90vw;
    min-height: 500px;
    margin: auto;
    margin-top: 100px !important;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    padding: 50px 60px;
  }
  
  .signup-eller {
    width: 100%;
    text-align: center;
    color: var(--softBlack);
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
    padding: 10px 0px;
  }
  
  .facebook-button-class {
    width: 100%;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: transparent;
    text-align: center;
    border: 1px #ebebeb solid;
    cursor: pointer;
    color: #333;
    font-family: Inter;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transform: 0.2s !important;
  }

  .facebook-button-class:hover {
    background-color: var(--surface);
  }
  
  .facebook-icon {
    fill: var(--primary);
    width: 20px;
    height: 20px;
  }

  .route-thirds {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    height: 105%;
    width: 100%;
    z-index: 28;
    overflow-y: auto;
  }

  .route-thirds-img-con {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 65%;
    height: 65%;
    border: 6px solid var(--black);
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  }

  .route-thirds-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .route-thirds-element-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 25px 0px;
    background-color: #fff;
    flex-direction: column;
    z-index: 3;
    border-radius: 5px;
    height: 100%;
  }

  .route-thirds {
    display: flex;
    background-color: #fff;
  }

  .route-thirds-element-2 {
    width: 60%;
    position: relative;
    height: calc(100% - 30px);
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
  }
  
  .signup-popup {
    position: relative;
    width: 68%;
    margin-top: -40px;
  }

  .signup-tilbage {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 4;
    display: flex;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
  }

  .login-form-btn {
    width: 100%;
    margin: 10px 0px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px #ebebeba2 solid;
    background-color: transparent;
  }

  .login-form-btn-active {
    width: 100%;
    margin: 10px 0px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: 10px;
    border: 0px;
    background: -webkit-linear-gradient(-60deg, #21D4FD -10%, #B721FF 150%);
  }

  .login-btn-left {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .login-form-btn-active .login-btn-h1 {
    color: #fff !important;
  }

  .login-form-btn-active .login-btn-p {
    color: #fff !important;
  }

  .login-btn-h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
  }

  .login-btn-p {
    font-family: Inter;
    font-weight: 400;
    padding-top: 5px;
    font-size: 12px;
    color: var(--softBlack);
    opacity: 0.8;
  }

  .signup-tilbage:hover {
    opacity: 0.8 !important;
  }

  .signup-tilbage:hover .signup-tilbage-p {
    opacity: 1 !important;
  }

  .signup-tilbage-p {
    font-size: 12px;
    color: var(--softBlack);
    font-family: Inter;
    font-weight: 400;
    opacity: 0;
    transition: 0.3s;
  }

  .signup-logo {
    cursor: pointer;
  }
  
  .login-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 27px;
    padding: 2px;
    height: 27px;
    fill: var(--black);
    border-radius: 50%;
    transition: 0.1s;
    cursor: pointer;
  }
  
  .login-close:hover {
    background-color: rgba(24, 30, 47, 0.1);
  }
  
  .login-text {
    padding-bottom: 20px;
  }

  .cg-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    padding-bottom: 30px;
  }

  .cg-h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    color: #333;
  }

  .cg-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .cg-setting {
    padding: 10px 5px;
    display: flex;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
  }

  .cg-setting:hover {
    background-color: #ebebeb44;
  }

  .cg-setting-active {
    padding: 10px 5px;
    display: flex;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
  }

  .cg-setting-info {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .cg-setting-pic {
    width: 30px;
    height: 30px;
    background-color: #ebebeb;
    border-radius: 5px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cg-setting-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .cg-cta {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cg-cta-p {
    padding: 3px 8px;
    background-color: #ebebeb;
    color: #333;
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    border-radius: 3px;
  }

  .cg-cta-p-active {
    padding: 3px 8px;
    background-color: #E5FAED;
    color: #4CA14A;
    font-family: Inter;
    font-weight: 500;
    font-size: 10px;
    border-radius: 3px;
  }

  .cg-setting-h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    color: #333;
    opacity: 0.85;
  }

  .cg-setting-h2 {
    font-family: Inter;
    font-weight: 300;
    font-size: 10px;
    color: #333;
    opacity: 0.6;
  }

  .cg-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cg-form span {
    width: 100%;
  }

  .cg-input {
    border: 0px;
    border-bottom: 1.5px solid var(--stageSurface);
    padding: 12px 5px;
    width: 100%;
    font-family: Inter;
    font-weight: 400;
    color: #333;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
    border-radius: 0px;
    margin-bottom: 20px;
  }

  .cg-btn {
    padding: 10px 17px;
    border-radius: 5px;
    font-family: Inter;
    font-weight: 400;
    margin-top: 20px;
    color: var(--primary);
    font-size: 14px;
    cursor: pointer;
    border: 0px;
    transition: 0.2s;
    background-color: var(--third);
  }

  .cg-btn:hover {
    color: #fff !important;
    background-color: var(--primary) !important;
  }

  .cg-input:focus {
    border-color: #333 !important;
  }

  .cg-h2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    opacity: 0.6;
    max-width: 300px;
  }

  .cg-error {
    border-color: var(--red) !important;
    color: var(--red) !important;
  }

  .cg-error:focus {
    border-color: var(--red) !important;
    color: var(--red) !important;
  }
  
  .login-text-h1 {
    font-family: Inter;
    color: var(--black);
    font-weight: 600;
    font-size: 27px;
  }

  .login-text-p {
    font-family: CircularBook;
    color: var(--grey);
    font-weight: 100;
    font-size: 14px;
  }
  
  .login-form-p {
    font-family: Inter;
    color: var(--softBlack);
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .login-form-label {
    font-family: Open Sans;
    color: var(--softBlack);
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
  }
  
  .login-link {
    color: var(--primary);
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px transparent solid;
    transition: 0.2s;
    text-decoration: none;
  }
  
  .login-link:hover {
    border-bottom: 2px var(--primary) solid !important;
  }
  
  .gr-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-form-input {
    background-color: #fff;
    border: 0px;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 5px;
    height: 39px;
    width: 100%;
    color: var(--softBlack);
    font-weight: 400;
    font-family: Open Sans;
    font-size: clamp(11px, 2.5vw, 14px);
    margin-bottom: 25px;
    vertical-align: top;
    padding: 0px clamp(10px, 1vw, 20px);
  }